/* Sidebar.css */
.container {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  
  .sidebar {
    width: 20vw; /* Width of the sidebar */
    background-color: #111; /* Dark background color */
    padding-top: 20px; /* Padding at the top */
  }
  
  .sidebar ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll; /* Adds a scroll bar to the vegetables*/
    list-style-type: none; /* Remove list bullets */
    padding: 0;
  }

  #plant-description{
    color: white;
  }
  